body {
  color: #183661;
  font-family: "Merriweather", serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

.wrap {
  margin: 0 auto;
  max-width: 1160px;
}

/*
HEADER
*/

#header {
  background-color: #183661;
  overflow: hidden;
  font-family: "Merriweather Sans", sans-serif;
  color: #e6ecf2;
}

#header a {
  color: #e6ecf2;
}

#header a:hover,
#header a.active {
  color: #dd6b4d;
}

#headerlogo {
  text-align: center;
  padding: 10px;
}

#headermenu {
  text-transform: uppercase;
  padding: 10px;
  font-size: 1.5em;
}

#headermenu ul {
  text-align: center;
  display: flex;
  flex-flow: column;
}

#headermenu ul li {
  display: inline;
  padding: 5px 15px;
}

#headermenu ul a {
  text-decoration: none;
}

/*
MAIN
*/
#main {
  background-color: #e6ecf2;
  color: #183661;
  padding: 0 0 50px;
}
a {
  color: #dd6b4d;
}
a:hover {
  text-decoration: none;
}
section {
  padding: 20px 10px;
  box-sizing: border-box;
}
h1 {
  font-size: 2em;
}

p.sumari {
  margin: 20px 0;
}
#map-container {
  margin: 20px 0;
}
.countries {
  display: flex;
  flex-flow: column nowrap;
}

.continent,
.country {
  color: #183661;
  padding: 20px;
  margin: 0 0 10px;
  box-sizing: border-box;
  border-radius: 4px;
}
.continent:hover,
.country:hover {
  background-color: #cad4dc;
  color: #dd6b4d;
}

.continent a,
.country a {
  color: inherit;
  text-decoration: inherit;
  font-weight: bold;
  text-decoration: none;
}

.continent img,
.country img {
  width: 100%;
  object-fit: cover;
  margin: 0 0 10px;
  border-radius: 4px;
}
.continent .caption,
.country .caption {
  padding: 0 0 10px;
  text-align: center;
  font-size: 1.5em;
}

#map {
  height: 300px;
}

#uldades {
  margin: 20px 0;
  list-style: none;
}
#uldades li span {
  font-weight: bold;
}

#footer {
  background-color: #183661;
  display: flex;
  flex-flow: column;
  align-items: center;
  color: #e6ecf2;
  text-align: center;
  padding: 10px 0 30px;
  box-sizing: border-box;
}

#footer a {
  color: #dd6b4d;
  text-decoration: none;
}
#footer a:hover {
  color: #e6ecf2;
  text-decoration: none;
}
#contact img {
  padding: 0 0 10px;
  max-width: 50%;
}

#contact ul {
  padding: 0 0 10px;
  text-align: left;
  list-style: none;
}
/*
ul#socialmedia {
  padding: 15px 0 10px;
  text-align: center;
  font-size: 1.6em;
}

ul#socialmedia li {
  padding: 0 10px;
  display: inline;
  line-height: 1.2em;
}*/

#footermenu ul {
  padding: 0 0 20px;
  text-align: center;
  display: flex;
  flex-flow: column;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 1.1em;
}

#footermenu ul li {
  padding: 0 10px 10px;
  display: inline;
}

#credits {
  font-size: 0.8em;
}
#credits p {
  padding: 0 0 10px;
}

/* MEDIA QUERIES */

@media (min-width: 768px) {
  #headerlogo {
    order: 1;
  }
  #headermenu {
    align-self: flex-end;
  }
  #headermenu ul {
    flex-flow: row;
    justify-content: center;
  }

  section {
    padding: 70px 10px 20px;
  }

  .continents,
  .countries {
    flex-flow: row wrap;
  }
  .continent {
    flex: 0 0 33%;
  }
  .country {
    flex: 0 0 25%;
  }
  .continent .caption,
  .country .caption {
    font-size: 1.25em;
  }

  #footermenu ul {
    flex-flow: row;
  }
}

/* Dispositivos grandes (ordenadores, 992px y superior) */
@media (min-width: 992px) {
  .continent .caption,
  .coumtry .caption {
    font-size: 1.5em;
  }
}
